nav {
  display: flex;
  justify-content: center;
  
  .nav-link{
    color: $primary-color;
  }
}

header {
  height: $huge;
  background-image: url('../../images/header.jpg');
  background-size: cover;
  text-align: center;
  h1{
    font-size: $medium; 
    padding-top: 20px;
  }
}

.card {
  border-radius: 5px;
  background-color:#e0ddb2 ;

  .img {
    background-size: cover;
    height: $large;
    width: 100%;
    background-position: center;
  }
  .card-img-top{
    padding-top: 20px;
  }
}

main {
  
  aside {
    
    border: $border-size solid $border-color;
    
   
    
  }
  
}

footer {
  background-color: $primary-color;
  a {
    color: white;
  }
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  li{
    list-style: none;
    

  }
}

          